.header-style {
  background-image: url('/images/plants-header.jpg');
  background-position: center;
  color: white;
}

.footer-style {
  background-color: rgb(32, 67, 32);
  color: white;
}

.sub-header {
  font-family: Gill Sans, sans-serif;
  color: plum;
  font-weight: 300;
  padding-left: 4%;
  font-size: 1.3rem;
  text-shadow: 1px 0 white, 0 1px white;
}

.sub-footer {
  font-family: Gill Sans, sans-serif;
  color: plum;
  font-weight: 300;
  font-size: 1.2rem;
  text-shadow: 1px 0 lightgray, 0 1px black;
}

.empty {
  font-size: 1.5rem;
}

#cart {
  display: inline;
  margin-left: auto;
}

.cart-height {
  min-height: 80vh;
}

.brand-font {
  font-family: 'Julius Sans One', sans-serif;
}

.btn-color {
  background-color:rgb(202, 171, 187);
  color: white;
  font-size: 1.3rem;
}

.modal {
  background-color: rgba(0,0,0,.50);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  min-width:50%;
  max-width:650px;
  border-radius: .25rem;
  text-align: center;
  position: fixed;
  border: 15px solid rgb(202, 171, 187);
  border-radius: .25rem;
  background-color: white;
}

.modal-p {
  font-size: 1.2rem;
}

.carousel {
  height: 75vh;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}

.slider {
  height: 65vh;
}

.carousel-img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow-x: hidden;
}

.img-style {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  padding: 1px;
}

.icon-size {
  width: 5vw;
  height: 5vh;
  object-fit: contain;
}

.font-style {
  color: #16700c;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: rgb(181, 235, 131) 1px 0 10px;
}

.img-details {
  width: 100%;
  height: 20vw;
  object-fit: contain;
}

.disclaimer {
  padding-left: 1.25rem;
  font-size: 1.5rem;
}

.modal-wrapper {
  background-color: #8fb655;
  width: 25%;
  max-width: 800px;
  margin: 4rem auto;
  border-radius: .25rem;
  border: 1px solid #16700c;
  transition: all 0.6s ease;
}

.modal-header {
  background-color: white;
  color: rgb(59, 58, 58);
  padding: 0.5rem 1rem 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none !important;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}

.modal-content {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0px 0px .25rem .25rem;
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-body h5 {
  font-size: 1.6rem;
  color: #16700c;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;

}

.modal-body p {
  font-size: 1rem;
  background: #eee;
  color: #333;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.modal-footer {
  border: none;
}

.modal-footer button {
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
  color: white;
  border-radius: .25rem;
}

.btn-continue {
  background-color: rgb(202, 171, 187);
}
.btn-checkout {
  background-color: #6bbc62;
}

.modal-drop {
  position: fixed;
  transition: all 1.3s;
  width: 100%;
  /* background-color: rgba(0,0,0,.50); */
  height: 100%;
  /* z-index: 10; */
  display: flex;
  top: 0;
  left: 0;
}

.box {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
}

.checkout-border {
  border: 1px solid lightgray;
  border-radius: .25rem;
}

.back {
  color: dimgray;
  font-size: 0.7rem;
  width: 35%;
}

@media (hover: hover) {
  .hover:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .pointer:hover {
    cursor: pointer;
  }

  .glow:hover {
  text-shadow: ivory 1px 0 10px;
  cursor: pointer;
  }

  .back:hover {
    text-decoration: #a81005 underline;
    color: #a81005;
    cursor: pointer;
  }
}

@media screen and (max-width: 375px) {
  .prod-details-style {
    border: none;
    box-shadow: none;
  }
  .shrink {
    font-size: 3.5vh;
  }

  .sub-header {
    font-size: 2.3vh;
    display: block;
  }

  .cont-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #cart {
    margin: auto;
    display: flex;
    align-items: center;
  }

  .disclaimer {
    font-size: 1.2rem;
  }
}
