

.header-style {
  background-image: url('/images/plants-header.jpg');
  background-position: center;
  color: white;
}

.sub-header {
  font-family: Gill Sans, sans-serif;
  color: plum;
  font-weight: 300;
  padding-left: 3%;
  font-size: 1.3rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.brand-font {
  font-family: 'Julius Sans One', sans-serif;
}

.carousel {
  height: 75vh;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}

.slider {
  height: 65vh;
}

.carousel-img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow-x: hidden;
}

.img-style {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  padding: 1px;
}

.icon-size {
  width: 5vw;
  height: 5vh;
  object-fit: contain;
}

.font-style {
  color: #16700c;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: rgb(181, 235, 131) 1px 0 10px;
}

.img-details {
  width: 100%;
  height: 20vw;
  object-fit: contain;
}

.box {
  border: darkgrey 1px solid;
}

.back {
  color: dimgray;
  font-size: 0.7rem;
  width: 35%;
}

@media (hover: hover) {
  .hover:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .pointer:hover {
    cursor: pointer;
  }

  .glow:hover {
  text-shadow: ivory 1px 0 10px;
  cursor: pointer;
  }

  .back:hover {
    text-decoration: #a81005 underline;
    color: #a81005;
    cursor: pointer;
  }
}

@media screen and (max-width: 375px) {
  .prod-details-style {
    border: none;
    box-shadow: none;
  }
  .shrink {
    font-size: 2.5vh;
  }
  .items {
    padding-bottom: 10%;
  }
  .sub-header {
    font-size: 2vh;
    display: block;
  }
}
